<!doctype html>
<html>
    <head>
        <title>Report</title>
        <meta charset='utf-8'>
        <!-- TODO bootstrap styles -->
        <script src="/static/vendor/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/vendor/d3/d3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/vendor/nvd3/nv.d3.js" type="text/javascript" charset="utf-8"></script>
        <link href="/static/vendor/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css">
        <link href="/static/vendor/flat-ui-official/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/static/vendor/flat-ui-official/css/flat-ui.css" rel="stylesheet" type="text/css">

        <style>

        body {
          overflow-y:scroll;
          margin: 0;
          padding: 0;
        }

        svg {
          overflow: hidden;
        }

        div {
          border: 0;
          margin: 0;
        }

        /*
#offsetDiv {
          margin-left: 100px;
          margin-top: 100px;
        }
        */


#test1 {
          margin: 0;
        }

#test1 svg {
          height: 500px;
        }

        </style>
    </head>
    <body>
    {% if client %}
        <h1>{{ client }} - Total: {{ total }}</h1>
    {% else %}
        <h1>Admin</h1>
    {% endif %}

        <div id="offsetDiv">
          <div id="test1" class="chartWrap">
            <svg></svg>
          </div>
        </div>

        <script src="/static/vendor/nvd3/lib/d3.v3.js"></script>
        <!--<script src="/static/vendor/nvd3/lib/fisheye.js"></script>-->
        <script src="/static/vendor/nvd3/nv.d3.js"></script>
        <script src="/static/vendor/nvd3/src/tooltip.js"></script>
        <script src="/static/vendor/nvd3/src/utils.js"></script>
        <script src="/static/vendor/nvd3/src/models/legend.js"></script>
        <script src="/static/vendor/nvd3/src/models/axis.js"></script>
        <script src="/static/vendor/nvd3/src/models/distribution.js"></script>
        <script src="/static/vendor/nvd3/src/models/scatter.js"></script>
        <script src="/static/vendor/nvd3/src/models/scatterChart.js"></script>

        <script>
            //Format A
            function getData() { //# groups,# points per group
                var data = {{ entries_json }};
                return data;
            }

            nv.addGraph(function() {
                var chart = nv.models.discreteBarChart()
                    .x(function(d) { return d.x; })
                    .y(function(d) { return d.y; })
                    .staggerLabels(true)
                    .tooltips(false)
                    .showValues(true)
                d3.select('#test1 svg')
                    .datum(getData())
                    .transition().duration(500)
                    .call(chart);

                nv.utils.windowResize(chart.update);
            });
        </script>

        <div class="container">

            {% if client %}
                {% for key, entry in entries.items() %}
                    <div id="id-{{ key }}" class="entry">
                        <h4>Tasks Day {{ key }} <a href="#tasks" id="#task-list"></a></h4>
                        <ul>
                            {% for entry_data in entry[client][3] %}
                                <li>{{ entry_data }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
